<ion-header>
  <ion-toolbar style='--background:red;'>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-title><span text-color="my-custom-color">Favorite Character</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style='--background: navy ;'>
<br>
<br>
  <ion-list>
    <ion-radio-group [(ngModel)]="myCharacter">
      <ion-item>
        <ion-label>Captain America</ion-label>
        <ion-radio value="Captain America"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Iron Man</ion-label>
        <ion-radio value="Iron Man"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Hulk</ion-label>
        <ion-radio value="Hulk"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Thor</ion-label>
        <ion-radio value="Thor"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Black Widow</ion-label>
        <ion-radio value="Black Widow"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Hawkeye</ion-label>
        <ion-radio value="Hawkeye"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  
  <br>
  <ion-button (click)="onSave()">Save</ion-button>

</ion-content>
