<ion-header>
  <ion-toolbar style='--background:red;'>
    <ion-buttons slot="start"><!--I would like to use the back button to return at the home page and not at the previous page-->
      <ion-back-button [routerLink]="['/home']"></ion-back-button>    </ion-buttons>
    <ion-title><span text-color="my-custom-color">Avengers Movies</span></ion-title>
  </ion-toolbar>
</ion-header>
<!--JSON-->
<ion-content style='--background: navy ;'>
  <ion-button type="submit" expand="block" [routerLink]="['/marvel-movies']">Marvel Movies</ion-button>
  <ion-button type="submit" expand="block" [routerLink]="['/marvel-characters']">Marvels Characters</ion-button>
  <br>
  <hr width="70%" color="red" align=center>
  <div>
    <ion-title align=center ><span text-color="my-custom-color">List of "Avengers" movies</span></ion-title>
  </div>
  <br>
  <ion-card *ngFor="let avengersMovies of avengersMoviesData"> <!-- we create an avengersMovies object from avengersMoviesData from the aven...page.ts for each movies in the data-->
    <ion-card-header>
      <ion-card-subtitle>{{avengersMovies.Year}}</ion-card-subtitle><!--we print the title of avengersMovies object for each movies -->
      <ion-card-title><b>{{avengersMovies.Title}}</b></ion-card-title>
    </ion-card-header>
    <img width="100%" height="100%" src="{{avengersMovies.Poster}}"><!--thanks to data that we read thanks to JSON formatter, we take the element that we want to print on our page like Poster for the movie picture-->
  </ion-card>
    
</ion-content>
