<ion-header>
  <ion-toolbar>
    <ion-title align=center>
      Marvel Project
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button [routerLink]="['/avengers-movies']">Avengers Movies</ion-button><!--button in home page that does the link with the avengers movie page -->
  <ion-button [routerLink]="['/marvel-movies']">Marvels Movies</ion-button>
  <ion-button [routerLink]="['/marvel-characters']">Marvels Characters</ion-button>
  
 <ion-button [routerLink]="['/favorite-character']">Your Favorite Character</ion-button>
 <ion-title align=center>Your favorite character is :</ion-title>
 <ion-title align=center >{{myCharacter}}</ion-title>
</ion-content>

  <!--<ion-content [fullscreen]="true">
    <ul>
      <li [routerLink]="['/ulster']">Ulster</li>
      <li [routerLink]="['/munster']">Munster</li>
      <li [routerLink]="['/connaught']">Connaught</li>
      <li [routerLink]="['/leinster']">Leinster</li>
    </ul>
</ion-content>-->
