<ion-header>
  <ion-toolbar style='--background:red;'>
    <ion-title align=center>
      <span text-color="my-custom-color">Marvel Project</span> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  style='--background: navy ;' [fullscreen]="true">
 
  <ion-button type="submit" expand="block" [routerLink]="['/marvel-movies']">Marvels Movies</ion-button><!--button in home page that does the link with the marvel movies page -->
  <ion-button type="submit" expand="block" [routerLink]="['/marvel-characters']">Marvels Characters</ion-button>
  <ion-button type="submit" expand="block" [routerLink]="['/avengers-movies']">Avengers Movies</ion-button>
  <ion-button type="submit" expand="block" [routerLink]="['/favorite-character']">Favorite Character</ion-button>

  <div>
    <p align=center><span text-color="my-custom-color">Your favorite character is :</span></p>
 
    <p align=center ><span text-color="my-custom-color">{{myCharacter}}</span></p><!--Data storage variable-->
 </div>
 
 <ion-button (click)="openFileMethod()">My PDF</ion-button>
 <ion-button (click)="locationMethod()">My Location</ion-button>
 <div>
 <span text-color="my-custom-color">{{lat}}, {{long}}</span>
</div>
 <ion-button (click)="checkBatStatus()">Watch</ion-button>
 <ion-button (click)="batCheck()">Stop</ion-button>

 <div><span text-color="my-custom-color">The level of batterie is {{batLvl}} %</span></div>
 <div><span text-color="my-custom-color">Batterie status : {{batStat}}</span> </div>
 <br>

</ion-content>

